footer#footer
  .row#footer-inner
    .col-xs-12#footer-content
      p
        | leapleaprevolution by 
        a(href="https://twitter.com/whatmariel" target="_blank") @whatmariel 
        |  x 
        a(href="https://twitter.com/patatohead" target="_blank") @patatohead
        |  x 
        a(href="https://twitter.com/ozthehungry" target="_blank") @ozthehungry
        |  at mchacks

