#main(ng-show="isLoaded" role="main")

    #leap(ng-controller="LeapCtrl" ng-init="leapDebug = true")
      .leap#leapUI(ng-show="leapDebug")
        span.text-valign
          h2
      .leap#leapCanvas
        canvas#canvas

