#main(ng-show="isLoaded" role="main")
  #header
    h1 leap leap <span>revolution</span>

  #main-inner main stuff goes here

    #leap(ng-controller="LeapCtrl" ng-init="leapDebug = true")
      .leap#leapUI(ng-show="leapDebug")
        span.text-valign
          h2
      .leap#leapCanvas
        canvas#canvas

