#play(ng-show="isLoaded" role="main")
	#header(ng-controller="GameStateCtrl")
		h1 leap leap <span>revolution</span>
	#main-inner 
		.top
			.left
				form#songForm
					input#urlForm(placeholder="Enter a Soundcloud URL")
					button#stream Play Song
					p#song_info
				.lyrics
			.right
				.expand
				.motion
					.motionpic
					.motionwords
		.players 
