#play(ng-show="isLoaded" role="main")
	#header(ng-controller="GameStateCtrl")
		h1 leap leap <span>revolution</span>
	#main-inner 
		.top
			.left
				.lyrics
			.right
				.expand
				.motion
		.players 
