#play(ng-show="isLoaded" role="main")
	#header(ng-controller="GameStateCtrl")
		h1 leap leap <span>revolution</span>
	#main-inner 
		.top
			.left
				form#songCompleteForm
					input#artistForm(placeholder="Enter Artist Name")
					input#songForm(placeholder="Enter Song Name")
					p#song_info
				.lyrics
			.right
				.expand
				.motion
					.motionpic
					.motionwords
		.players 
